<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ehadrafi.theproject101">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AssignmentViewActivity"
            android:exported="true" />
        <activity
            android:name=".RoomListActivity"
            android:exported="true" />
        <activity android:name=".ShareMediaActivity"
            android:exported = "true"/>
        <activity android:name=".SelectCountryCallingCodeActivity"
            android:exported = "true"/>
        <activity android:name=".ShowMyStatusActivity"
            android:exported = "true"/>
        <activity android:name=".EditStatusActivity"
            android:exported = "true"/>
        <activity android:name=".ShowOtherStatusActivity"
            android:exported = "true"/>
        <activity android:name=".ChatRoomActivity"
            android:exported = "true"/>
        <activity
            android:name=".CreateProfileActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported = "true"/>
        <activity
            android:name=".InputPhoneNumberActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported = "true"/>
        <activity
            android:name=".PhoneVerifyActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported = "true"/>
        <activity android:name=".ContactActivity"
            android:exported = "true"/>
        <activity android:name=".MainActivity"
            android:exported = "true"/>
        <activity android:name=".CameraActivity"
            android:exported = "true"/>
        <activity
            android:name=".StatusTextActivity"
            android:exported = "true"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".WelcomeActivity"
            android:exported = "true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>